@import "../../../utils/mixin";

page{
  background-color: $bg-main;
}


.wallet{
  padding: 20px 15px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 10px;
  background-color: white;
  .label{
    font-size: $font-size-title;
    color: $text-main;
  }
  .amount{
    line-height: 2.5;
    font-weight: bold;
    font-size: $font-size-title * 1.5;
    color: $text-main;
  }
  .btn-withdraw{
    font-size: $font-size-subtitle;
    background-color: $bg-active;
    color: white;
    padding: 5px 10px;
    @include border-radius(3px);
  }
}


.withdraw-log{
  margin-top: 10px;
}

.log-item{
  background-color: white;
  padding: 10px 15px 10px 10px;
  margin-bottom: 1px;
  display: flex;
  align-items: center;
  &:active{
    background-color: transparent;
  }

  .head-pic{
    margin-right: 10px;

    @include border-radius(100px);
    border: 1px solid $color-border;
    overflow: hidden;
    image{
      padding: 5px;
      width: 45px;
      height: 45px;
      display: block;
    }
  }
  .log-info{
    flex-grow: 1;
    .title{
      font-size: $font-size-title;
      color: $text-main;
    }
    .date{
      font-size: $font-size-subtitle;
      color: $text-subtitle;
    }
  }
  .amount{
    font-weight: bold;
    flex-shrink: 0;
    font-size: $font-size-title;
    color: $text-main;
  }
}