@import "../../utils/mixin";

.ucenter {
  background: $bg-main;
  width: 750rpx;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: -2;
}

//.scroll{
//  height: 100%;
//}

.index_top{
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  z-index: 999;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: $bg-main;
}

.search-bar {
  //top: 0rpx;
  height: 50px;
  width: 100%;
  background: $bg-main;


  .search {
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    width: 90%;
    align-items: center;
    @include border-radius(35rpx);
    background: $bg-search;
    height: 70rpx;
    padding: 0 50px;
    line-height: 70rpx;
    text-align: center;
    margin-top: 20rpx;
    margin-bottom: 10rpx;
    font-size: 24rpx;
    color: #666;
  }

  .search-logo {
    width: 27rpx;
    height: 27rpx;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5rpx;
  }
}

.buyer{
  width: 90%;
  margin: 0 auto;
  .buy{

    background: $bg-count-down;
    height: 20px;
    font-size: 14px;
    .text{
      overflow:hidden;//一定要写
      text-overflow: ellipsis;//超出省略号
      display:-webkit-box;//一定要写
      -webkit-line-clamp: 1;//控制行数
      -webkit-box-orient: vertical;//一定要写
    }

  }
}

.head{
  margin: 10px 0;
  width: 100%;
  height: auto;

  .head_info{
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
    background: $bg-main;
    justify-content: space-around;

    .head-avater{
      height: 35px;
      width: 35px;
      @include border-radius(50%);
    }

    .box{
      display: flex;
      flex-direction: column;
      justify-content: center;

      .name{
        font-size: 12px;
      }

      .address{
        font-size: 11px;
      }

      .img{
        width: 18px;
        height: 18px;
      }
    }

    .box_a{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .name{
        font-size: 12px;
      }

      .address{
        font-size: 11px;
      }

      .img{
        width: 18px;
        height: 18px;
      }
    }
  }
}

.banner_box{
  padding-top: 120px;
.banner{
  height: 120px;
  image{
    display: block;
    height: auto;
    width: 100%;
  }
}
}

.groupBay{
  background: $bg-info;
  margin-top: 5px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;


  .groupBay_left{
    display: flex;
    align-items: flex-end;
    .text{
      margin-right: 5px;
    }

    .text_a{
      font-size: 12px;
      color:$text-subtitle;
      margin-right: 5px;
    }

    .count_down{
      padding-bottom: 2px;
    }
  }
.groupBayRight{
  font-size: 11px;
  padding: 4px 8px;
  background: $bg-search;
  @include border-radius(20px);
  color: $text-subtitle;
}
}

.second_box{

  margin-top: 5px;
  background: $bg-info;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;

  .first{
    display: flex;
    justify-content: space-between;

    .first_info{
      display: flex;
      align-items: center;
      flex-direction: column;

      .img{
        height: 50px;
        width: 50px;
      }
      .text{
        margin-top: 3px;
        color: $text-main;
        font-size: 14px;
      }
    }
  }

  .second{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    .second_info{
        display: flex;
        align-items: center;
        flex-direction: column;

      .img{
          height: 50px;
          width: 50px;
        }
        .text{
          margin-top: 3px;
          color: $text-main;
          font-size: 14px;
        }
      }
    }
  }



.third_box{
  margin: 5px 10px;
  display: flex;
  flex-direction: column;

  .loading-center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .no-order {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

     .img {
      width: 200rpx;
      height: 200rpx;
      margin-bottom: 30rpx;
      overflow: hidden;

    }

     .txt {
      font-size: 26rpx;
      color: $text-comment;
    }
  }



  .third{
  .list{
    margin-bottom: 5px;
    background: $bg-info;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;

    .top{
      display: flex;
      justify-content: space-between;
      align-items: center;

      .img{
        width: 120px;
        height: 120px;
        flex-shrink: 0;
      }

      .top_info{
        width: 200px;
        height: 120px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 14px;
        flex-grow: 1;

        .title{
          overflow:hidden;//一定要写
          text-overflow: ellipsis;//超出省略号
          display:-webkit-box;//一定要写
          -webkit-line-clamp: 2;//控制行数
          -webkit-box-orient: vertical;//一定要写
        }

        .description{
          font-size: 12px;
          color: $text-comment;
        }

        .top_down{
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          .money_f{
            font-size: 10px;
            color: #DD3C4A;
            display: flex;
            align-items: center;
            .place{
              font-size: 14px;
            }
            .money_s{
              padding-left: 10px;
              color: $text-comment;
              display: flex;
              align-items: center;
              text-decoration: line-through;
              .original{
                font-size: 14px;

              }
            }
          }

          .icon{
            height: 24px;
            width: 24px;
          }
        }
      }
    }

    .down{
      display: flex;
      justify-content: space-between;
      padding-top: 10px;
      font-size: 14px;

      color:$text-comment;

      .down_right{
        display: flex;
        align-items: center;


        .imglist{
          height: 20px;
          //margin-right: 5px;
          .img{
            @include border-radius(50%);
            border: 1rpx solid $color-border;
            margin-left: -10px;
            height: 20px;
            width: 20px;
          }
        }
        .imglist-0{z-index: 3;}
        .imglist-1{z-index: 2;}
        .imglist-2{z-index: 1;}
        .down_text{
          margin-left: 5px;
        }
      }

    }
  }
  }
}


