@import "../../../utils/mixin";

page {
  background: $bg-main;
  padding: 10px;
}

.historyGroup {
  background: $bg_info;
  margin-bottom: 10px;
  .info {
    padding: 10px;
    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: $font-size-subtitle;
      color: $text-main;

      .top_right{
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .count_down{
          margin-left: 5px;
        }
      }
    }

    .time {
      color: $text-main;
      font-size: $font-size-subtitle;
      margin-top: 5px;
    }

    .scroll {
      width: 100%;
      height: 100px;
      margin-top: 10px;
      white-space:nowrap;
      .urlList {
        margin-right: 5px;
        width: 100px;
        display: inline-block;
        .img {
          @include border-radius();
          overflow: hidden;
          width: 100px;
          height: 100px;
        }
      }
    }

    .bottom {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 15px;
      .bottom-left{
        color: $text-main;
        font-size: $font-size-subtitle;
      }

      .bottom-right {
        font-size: 13px;
        @include border-radius();
        padding: 5px 8px;
        background: $bg-active;
        color: $bg-info;
      }
    }
  }
}