@import "../../../utils/mixin";

$height-list-item: 46px;

page{
  background-color: $bg-main;
}

.list-group{
  margin-top: 5px;
}

.list-group-item{
  margin-bottom: 1px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px 10px 20px;
  background: white;
  &:active{
    background-color: transparent;
  }
  .title{
    font-size: $font-size-title;
    color: $text-main;
    margin-right: 10px;
    flex-grow: 1;
    line-height: $height-list-item - 10 * 2;
  }
  .more{
    display: block;
    width: 10px;
  }
}