@import "../../../utils/mixin";

.ucenter {
  background: $bg-main;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: -2;
}

.prompt {
  margin: 10px auto;
  font-size: 14px;
}

.top {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .img {
    width: 36px;
    height: 36px;
    @include border-radius(50%);
    border: 1 rpx solid $color-border;
  }

  .name {
    font-size: 16px;
    margin-left: 10px;
  }
}

.commanderInfo {
  margin: 0 10px;
  background: $bg-info;
  padding: 20px;

  .body {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;

    .delivery {
      width: 40px;
      margin-right: 10px;
    }

    .address {
      overflow: hidden; //一定要写
      text-overflow: ellipsis; //超出省略号
      display: -webkit-box; //一定要写
      -webkit-line-clamp: 2; //控制行数
      -webkit-box-orient: vertical; //一定要写
    }
  }
  .input_info{


   .input_class{
     display: flex;
     justify-content: flex-start;
     align-items: center;
     margin-top: 10px;

     .input{
       margin-left: 10px;
     }
   }
  }
}

.order {
  margin: 5px 10px;
  padding: 20px;
  background: $bg-info;

  .orderInfo {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .img {
      width: 170rpx;
      height: 170rpx;
      flex-shrink: 0;
    }

    .info {
      width: 200px;
      height: 170rpx;
      padding-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 14px;
      flex-grow: 1;

      .title {
        overflow: hidden; //一定要写
        text-overflow: ellipsis; //超出省略号
        display: -webkit-box; //一定要写
        -webkit-line-clamp: 2; //控制行数
        -webkit-box-orient: vertical; //一定要写
      }

      .second{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .description {
          font-size: 12px;
          color: $text-comment;
        }
      }

      .act{
        display: flex;
        align-content: center;
        justify-content: flex-start;

        .discount{
          margin-left: 10px;
        }
      }

      .top_down {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        .money {
          font-size: 10px;
          color: #DD3C4A;
          display: flex;
          align-items: center;

          .number {
            font-size: 14px;
          }

        }
      }
    }
  }
}

.down{
  margin: 0 10px 70px 10px;
  background: $bg-info;
  padding: 20px;

  .down_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;

    .text_a{
      color: $text-price;
    }
  }
}

.cart-bottom {
  z-index: 100;
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
  background: $bg-active;
  display: flex;
  align-items: center;
  padding: 20rpx 0rpx;
  justify-content: space-around;
  width: 750rpx;
  border-top: 2 rpx solid #f0f0f0;
  color: $bg-info;
}

.disabled {
  background: #ccc !important;
}