@import "../../utils/mixin";

$height-sidemenu-item: 46px;
$height-sidemenu-text: 30px;
$height-sidemenu-sign: 20px;

.sort {
  width: 100%;
  position: relative;
  background-color: $bg-main;
  display: flex;
  flex-flow: row nowrap;
}

.side-menu {
  position: fixed;
  left: 0;
  top: 0;
  background-color: $bg-main;
  width: 25%;
  flex-shrink: 0;

  .side-menu-item {
    border-bottom: 1rpx solid $color-border;
    line-height: $height-sidemenu-text;
    padding: ($height-sidemenu-item - $height-sidemenu-text)/2 0;
    background-color: transparent;
    text-align: center;
    color: $text-subtitle;
    font-size: $font-size-title;

    &.active {
      background-color: white;
      color: $text-main;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        width: 8px;
        height: $height-sidemenu-sign;
        left: 0;
        background-color: $bg-active;
        top: ($height-sidemenu-item - $height-sidemenu-sign) / 2;
      }
    }
  }
}


$height-good: 100px;
$height-icon: ($height-good - 20) * .5;


.goods {
  margin-left: 25%;

  .goods-item {
    border-bottom: 1rpx solid $color-border;
    padding: 10px 20px 10px 10px;
    display: flex;
    flex-flow: row nowrap;
    background-color: white;

    &:active{
      background-color: transparent;
    }

    .goods-pic {
      position: relative;
      margin-right: 10px;
      @include border-radius(5px);
      overflow: hidden;
      image.good {
        width: $height-good - 10px * 2;
        height: $height-good - 10px * 2;
        display: block;
      }
      image.sell-out{
        position: absolute;
        display: block;
        left: 50%;
        top: 50%;
        margin-top: -$height-icon/2;
        margin-left: -$height-icon/2;
        height: $height-icon;
        width: $height-icon;
      }
      image.play{
        position: absolute;
        display: block;
        left: 50%;
        top: 50%;
        margin-top: -$height-icon/2;
        margin-left: -$height-icon/2;
        height: $height-icon;
        width: $height-icon;
      }
    }

    .goods-info {
      padding: 5px 0;
      flex-grow: 1;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;

      .name {
        line-height: 25px;
        flex-shrink: 0;
        font-size: $font-size-title;
        color: $text-main;
      }

      .type {
        line-height: 20px;
        flex-shrink: 0;
        color: $text-comment;
        font-size: $font-size-comment;
      }

      .bottom {
        height: $height-good - 10px * 2 - 25px - 20px - 5px * 2;
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }

      .price-content {

        .sub {
          font-size: $font-size-comment;
          color: $text-price;
          vertical-align: bottom;
        }

        .price {
          font-size: $font-size-title;
          color: $text-price;
        }
      }

      .price-origin {
        text-decoration: line-through;
        font-size: $font-size-subtitle;
        color: $text-comment;
      }

      .cart-add {
        height: 30px;
        width: 30px;
        display: block;
        position: relative;
        border: 2rpx solid $text-comment;
        @include border-radius(30px);
        &:active{
          @include transform(translateY(2px));
        }
        &:before,&:after{
          content: " ";
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          background-color: $text-comment;
        }
        &:before{
          width: 2px;
          height: 16px;
        }
        &:after{
          width: 16px;
          height: 2px;
        }
      }

      .sell-out {
        margin-bottom: 2px;
        font-size: $font-size-subtitle;
        background-color: $text-price;
        color: white;
        text-align: center;
        @include border-radius(20px);
        padding: 2px 5px;
      }
    }
  }
}