@import "../../utils/mixin";

.ucenter {
  background: $bg-main;
  width: 100%;
  z-index: -2;
}


.banner_box {
  width: 750rpx;
  height: 750rpx;

  .banner {
    width: 100%;
    height: 100%;
    .video-wrapper{
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      video{
        width: 100%;
        display: block;
      }
    }


    .image {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}

.groupDown {
  width: 100%;
  background: $bg-count-down;
  display: flex;

  .groupDown_left {

    padding: 5px 20px;
    color: $bg-info;
    flex-grow: 2;
    background: $bg-active;

    .price {

      .money_f {
        font-size: 14px;
        display: flex;
        align-items: center;

        .place {
          font-size: 20px;
        }

        .money_s {
          padding-left: 10px;
          display: flex;
          align-items: center;
          text-decoration: line-through;

          .original {
            font-size: 14px;


          }
        }

        .remain {
          padding-left: 10px;
          font-size: 14px;
        }
      }

    }

    .bay {
      font-size: 14px;
    }


  }

  .groupDown_right {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    color: $text-comment;
  }
}

.info {
  width: 100%;
  height: 120px;
  background: $bg-info;
  padding: 10px 15px;


  .info_top {
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $bg-line;

    .it_left {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .title {
        font-size: 16px;
        color: $text-subtitle;
      }

      .description {
        margin-top: 3px;
        font-size: 14px;
        color: $text-comment;
      }
    }

    .it_right {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: $bg-info;
      width: auto;
      padding: 8px;

      .img {
        width: 14px;
        height: 14px;
      }

      .img_text {
        margin-top: 3px;
        color: $text-comment;
        font-size: 12px;
      }
    }
  }

  .info_down {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 13px;

    .id_item {
      display: flex;
      flex-direction: column;
      align-items: center;

      .ii_title {
        color: $text-comment;
      }

      .ii_text {
        color: $text-subtitle;
        font-size: 11px;
      }
    }
  }
}

.parameter {
  margin-top: 5px;
  background: $bg-info;
  padding: 10px 15px;
  color: $text-specification;
  font-size: 13px;
}

.activity {
  margin-top: 5px;
  background: $bg-info;
  padding: 10px 15px;
  color: $text-specification;
  font-size: 13px;

}

.product-attr {
  background: $bg-main;
  width: 750rpx;

  .tui-nomore-box {
    padding-top: 10rpx;
  }
}

.detail {
  background: #fff;
  width: 750rpx;


  .img {
    display: block !important;
    height: auto;
    width: 100%;
  }
}

.like_text{
  padding: 20px 20px 0 20px;
  margin-bottom: 20px;
}

$height-icon: 60px;

.like {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  font-size: 18px;
  padding: 10px 20px 100rpx 20px;
  margin-bottom: 20px;


  .likeList {
    width: 48%;
    flex-shrink: 0;
    margin-bottom: 10px;

    .goods-pic {
      position: relative;
      margin-right: 10px;
      @include border-radius(5px);
      overflow: hidden;

      .img {
        width: 100%;
        height: 180px;
      }

      .sell-out{
        position: absolute;
        display: block;
        left: 50%;
        top: 50%;
        margin-top: -$height-icon/2;
        margin-left: -$height-icon/2;
        height: $height-icon;
        width: $height-icon;
      }

      .play{
        position: absolute;
        display: block;
        left: 50%;
        top: 50%;
        opacity: 0.6;
        margin-top: -$height-icon/2;
        margin-left: -$height-icon/2;
        height: $height-icon;
        width: $height-icon;
      }
    }

    .likeInfo {
      padding: 0 5px;

      .likeTitle {
        font-size: 14px;
        overflow: hidden; //一定要写
        text-overflow: ellipsis; //超出省略号
        display: -webkit-box; //一定要写
        -webkit-line-clamp: 2; //控制行数
        -webkit-box-orient: vertical; //一定要写
      }

      .likeDescription {
        font-size: 12px;
        color: $text-comment;
      }

      .top_down {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .top_down_left {
          .money_f {
            margin-top: 5px;
            font-size: 10px;
            color: #DD3C4A;
            display: flex;
            align-items: center;

            .place {
              font-size: 14px;
            }

            .money_s {
              padding-left: 10px;
              color: $text-comment;
              display: flex;
              align-items: center;
              text-decoration: line-through;

              .original {
                font-size: 14px;

              }
            }
          }
        }

        .top_down_right {
          margin: 10px;

          .icon {
            height: 24px;
            width: 24px;
          }

          .sell-out {
            margin-bottom: 2px;
            font-size: $font-size-subtitle;
            background-color: $text-price;
            color: white;
            text-align: center;
            @include border-radius(20px);
            padding: 2px 5px;
          }
        }
      }

      .end {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .end_left {
          display: flex;
          align-items: center;
          margin-left: 10px;
          .imglist {
            height: 20px;
            //margin-right: 5px;
            .img {
              @include border-radius(50%);
              border: 1rpx solid $color-border;
              margin-left: -10px;
              height: 20px;
              width: 20px;
            }
          }

          .imglist-0 {
            z-index: 3;
          }

          .imglist-1 {
            z-index: 2;
          }

          .imglist-2 {
            z-index: 1;
          }

          .down_text {
            margin-left: 5px;
          }
        }

        .end_right {
          padding-right: 5px;
          font-size: 10px;
        }
      }
      .like_down_text{
        padding-right: 5px;
        font-size: 10px;
        text-align: end;
      }
    }
  }
}

.bottom {
  position: fixed;
  bottom: 0;
  z-index: 120;
  width: 750rpx;
  height: 120rpx;
  display: flex;
  background: #fff;
  padding: 5px 20px;
  justify-content: space-between;
  align-items: center;
  border-top: 1rpx solid $bg-bottom-line;

  .bottom_left {
    display: flex;
    justify-content: center;

    .bl_item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 30px;

      .icon {
        width: 14px;
        height: 14px;
      }

      .text {
        color: $text-subtitle;
        font-size: 12px;
      }
    }
  }

  .bottom_right {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $bg-info;

    .br_left {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 80rpx;
      background: $bg-active;
      border-radius: 50px 0 0 50px;
    }

    .br_right {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100px;
      height: 80rpx;
      padding: 0 auto;
      background: $bt_green;
      border-radius: 0 50px 50px 0;
    }
  }

  .bottom_right_end{
    width: 200px;
    height: 80rpx;
    @include border-radius(50px);
    color: $bg-info;
    background: $text-price;
    text-align: center;
    line-height: 80rpx;
  }

}

