@import "../../../utils/mixin";

page {
  background: $bg-main;
}

.tui-searchbox {
  margin-top: 10px;
  background: $bg-info;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.tui-search-input {
  margin-left: 15px;
  width: 100%;
  height: 66rpx;
  border-radius: 35rpx;
  padding: 0 30rpx;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.tui-input {
  flex: 1;
  color: #333;
  padding: 0 16rpx;
  font-size: 28rpx;
}

.tui-input-plholder {
  font-size: 24rpx;
  color: #b2b2b2;
}

.tui-cancle {
  color: #888;
  font-size: 28rpx;
  padding-left: 30rpx;
  flex-shrink: 0;
}

.body {
  padding: 10px;
  .groupList {
    @include border-radius(3px);
    padding: 15px;
    margin-bottom: 10px;
    background: $bg-info;

    .top {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .avatar {
        width: 36px;
        height: 36px;
        @include border-radius(50%);
        border: 1rpx solid $color-border;
      }

      .remark {
        margin-left: 10px;

        .title {
          font-size: $font-size-title;
          color: $text-main;
        }

        .text {
          font-size: 13px;
          display: flex;
          align-items: center;

          .phone {
            font-size: 13px;
            margin-left: 5px;
          }
        }
      }
    }

    .orderList {
      margin: 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .img {
        @include border-radius();
        overflow: hidden;
        width: 80px;
        border: 1px solid $color-border;
      }

      .info {
        padding: 5px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80px;
        flex-grow: 1;
        margin-left: 10px;

        .info_top {
          font-size: $font-size-title;
          color: $text-main;
          overflow: hidden; //一定要写
          text-overflow: ellipsis; //超出省略号
          display: -webkit-box; //一定要写
          -webkit-line-clamp: 1; //控制行数
          -webkit-box-orient: vertical; //一定要写
        }

        .tools{
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-end;
          .feedback{

            font-size: $font-size-subtitle;
            padding: 3px 6px;
            text-align: center;
            @include border-radius();
            background-color: rgba(0,0,0,0.1);
          }
        }

        .info_center {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 14px;
          color: $text-subtitle;
        }

        .time {
          font-size: 13px;
          color: $text-subtitle;
        }
      }
    }

    .order-time {
      color: $text-main;
      margin-top: 10px;
      font-size: $font-size-subtitle;
      margin-bottom: 3px;
    }

    .order-number {
      color: $text-main;
      font-size: $font-size-subtitle;
    }
  }

  .last {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 30px;

    .submit {
      background: $bg-active;
      padding: 5px 10px;
      color: $bg-info;
      @include border-radius(5px);
    }
  }
}




