//  root colors
$green:         #4CD964;
$syan:          #5AC8FA;
$blue:          #007AFF;
$purple:        #5856D6;
$magenta:       #FF2D70;
$red:           #FF3B30;
$orange:        #FF9500;
$yellow:        #FFCC00;
$gray:          #8E8E93;
$green-grass:   #8bc34a;

// border color
$color-border:      #F0F0EC;
$color-border-dark: #D9D9D6;

// background color
$bg-main:     #F6F6F6;
$bg-search:   #E6E6E6;
$bg-active:   #0BE7C5;
$bg-info:     #FFF;
$bg-count-down:     #E3E4E4;
$bg-line:    #F4F4F4;
$bg-bottom-line: #EBEBEB;
$bg-button:   #DCDCDC;

// text color
$text-main:     #333333;
$text-subtitle: #666666;
$text-comment:  #999999;
$text-price:    #FF3948;
$text-specification:    #434343;

//button color
$bt_green:      #70C5A8;

// z-index
$z-toast:   600;
$z-mask:    550;
$z-navbar:  500;
$z-menu:    400;
$z-modal:   300;

// SIZE
$font-size-title: 16px;
$font-size-subtitle: .8 * $font-size-title;
$font-size-comment: .7 * $font-size-title;

// SafeArea
$safe-bottom: 20px;
