@import '../../../utils/mixin';

$font-size: $font-size-title * 0.9;


.article-bg{
  background-color: $bg-about;
  padding: 8px 8px 18px 8px;
}
.article-container {
  padding: 8px;
  background-color: white;
  @include border-radius(23px);
}
.article-content{
  font-family:'宋体',sans-serif;
  @include border-radius(18px);
  border: 1rpx solid $bg-about;
  padding: 10px;
}

.title{
  margin-bottom: 20px;
  border-bottom: 1rpx solid $text-price;
  line-height: 1;
  padding: 15px 0;
  text-align: center;
  font-size: 1.2rem;
  color: $text-price;
}

.p{
  line-height: 1.5;
  font-size: $font-size;
  color: $text-main;
  text-indent: 2rem;
  margin-bottom: 5px;
}

.subtitle{
  text-indent: 0;
}

.bold{
  font-weight: bold;
}

.footer{
  font-weight: bold;
  margin-top: 20px;
  margin-right: 30px;
  text-align: right;
  color: $text-subtitle;
  font-size: $font-size;
}

.section-title{
  color: $text-price;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 15px;
  margin-top: 20px;
}

.ask{
  font-size: $font-size;
  font-weight: bold;
  color: $text-main;
  line-height: 1.4;
  padding: 5px 0;
}

.answer{
  color: $text-subtitle;
  line-height: 1.5;
  font-size: $font-size;
  margin-bottom: 5px;
  padding-left: 20px;
}