@import "../../../utils/mixin";

page{
  background-color: $bg-main;
}

.state{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  padding: 15px 30px;
  &-text{
    display: flex;
    justify-content: flex-start;
    image{
      margin-right: 10px;
      flex-shrink: 0;
      height: 20px;
      width: 20px;
      display: block;
      font-size: $font-size-title;
    }
  }
  &-return{
    line-height: 2;
    font-size: $font-size-subtitle;
  }
}

.detail-list{
  padding: 15px 30px;
  background-color: white;
  &-item{
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    font-size: $font-size-subtitle;
    .label{
      color: $text-subtitle;
      flex-shrink: 0;
    }
    .content{
      text-align: right;
      flex-grow: 1;
    }
  }
}

.evidences{
  margin-top: 30px;
  image{
    border: 1px solid $color-border;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 22%;
    height: 3%;
  }
}